/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
    color: white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #191a1c !important;
   
    
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;

    margin: 0; /* ADDED BY ME*/
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

ul {
    margin: 0;
}

/* CSS RESET END*/

/* Container for all pages */
.main-container {
    width: 70%;
    max-width: 1120px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.title {
    margin-top: 1em;
}

/* search-results.html */

.search-title {
    font-size: 0.70rem;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05)
}

.cover__img, .cover__title {
    cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: center;
}

.bootpag {
    display: flex;
    gap: 10px;
}

.bootpag li {
    list-style-type: none;
}

.bootpag a{
    text-decoration: none;
    color: white;
}

/* end */

/* manga-info.html */

h1 {
    margin-top: 0.7em;
}

.title-container {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 3em;
    /* padding: 10px; */
}

.info__title {
    font-size: 2rem;
    margin-bottom: 0.225em;
}

.info__img {
    width: 80%;
    max-width: 150px;
    border-radius: 5px;
}

.info__author {
    font-size: 0.75rem;
    padding-top: 1em;
    margin-bottom: 1em;
}

.info__btn {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 1em 0 1em 0;

}

.info__btn li {
    background-color: #2e3033;
    padding: 0.25em 0.5em;
    border-radius: 5px;

}

.info__btn p {
    font-size: 0.80rem;
}

.manga__desc p {
    margin-top: 1em;
}

.btn {
    background-color: #64C8FA;
    color: white;
}


.details {
    flex-direction: column;
    gap: 20px;
    margin-top: 2em;
}

.first__section {
    display: block;

}


.creator__details {
    gap: 30px;
}

.year__details {
    justify-content: space-between;
    
}

.year__details p {
    margin: 1em 0 1em 0;
}

.licensed {
    gap: 20px;
    align-items: center;
}

h4 {
    
}

.comment {
    margin-top: 1em;
}

.comment__img {
    width: 30%;
}

.inner__img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
}

.input-review {
    height: 200px;
    background-color: #2e3033;
}

/* end */

/* index.html */
.main-section {
    margin-top: 3em;
}



.search-bar {
    --size: 50px;
    --padding: 8px;
    --expanded-width: 320px;

    display: flex;
    justify-content: flex-end;
  
    
    border-radius: 100px;
    outline: 1px solid transparent;
    overflow: hidden;

    padding: var(--padding);
    margin-inline: auto;
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
}

.search-bar:hover {
    width: var(--expanded-width);
    outline: 1px solid #2e2e2e;
}

.search-input {
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    flex: auto;
    margin-left: 4em;
    opacity: 0;
    transition: opacity 0.5s;
}

.search-bar:hover .search-input {
    opacity: 1;
}

.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #3a3a3a;
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--pading) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}


@media (min-width: 800px) {
    .title-container {
        display: flex;
        gap: 1rem;
    }

    .info__img {
        max-width: 200px;
    }

    .info__desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .btn {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        padding: 10px 20px;
    }

    .details {
        
    }

    .manga desc p{
        width: 30%;
    }

    .info-container {
        width: 100%;
    }

    

    .creator__details {
        
        
    }

    .year__details {
        justify-content: flex-start;
        gap: 80px;
    }

    .first__section {
        display: flex;
        gap: 100px;
    }

    .second__section {
        display: flex;
        gap: 100px;
    }
}